@import '../../styles';

#display {
  font-family: $body-font;
  font-size: 16px;
  background-color: $card-background;
  max-width: 300px;
  max-height: 150px;
  margin: 5px;
  padding: 5px;
  display: inline-block;
}
