//colors
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

$body-color: rbg(29, 53, 63);
$header-color: rgba(255, 255, 255, 0.3);
$joke-color: rgba(0, 0, 0, 0.2);
$text-color: white;
$button-color: rgb(192, 192, 192);
$button-hover: rgb(255, 255, 255);

//fonts

$header-font: "Bungee Shade", sans-serif;
$body-font: "Karla", sans-serif;
